name: festa_com_alegria
description: "Festa com Alegria é um aplicativo pessoal para minha noiva onde ela poderá cadastrar pedidos de kit de festa de aniversário"
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  #UI
  google_fonts: ^6.3.3
  flutter_animate: ^4.5.2
  cupertino_icons: ^1.0.8

  #CONFIGURAÇÕES
  go_router: ^17.0.1
  flutter_svg: ^2.2.3
  brasil_fields: ^1.18.0
  package_info_plus: ^9.0.0
  url_launcher: ^6.3.2
  shared_preferences: ^2.5.4
  audioplayers: ^6.5.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - assets/audio/
